philly_final/
result_AM_bak/

input_files_philly/
input_files_philly/record/
input_files_philly/path_table
input_files_philly/path_table_buffer

result_AM/

scenarios/baseline/input_files_philly/path_table
scenarios/baseline/input_files_philly/path_table_buffer
scenarios/baseline/input_files_philly/record/driving_link_cong_raw.txt

scenarios/scenario1/input_files_philly/path_table
scenarios/scenario1/input_files_philly/path_table_buffer
scenarios/scenario1/input_files_philly/record/driving_link_cong_raw.txt

scenarios/scenario2/input_files_philly/path_table
scenarios/scenario2/input_files_philly/path_table_buffer
scenarios/scenario2/input_files_philly/record/driving_link_cong_raw.txt

*.err
*.log